<div class="header" align="center">
	<h2 class="bg-danger pt-2 pb-2">Your Documents</h2>
</div>
<div class="container">
	<% @documents.each do |d| %>
		<div class="card bg-dark text-white">
			<div class="card-body">
				<h4>
					<%= d.title %>
				</h4>
				<%=raw d.body %><br><br>
				<!-- grey or blue I can't decide: grey:secondary blue:Info-->
				<%= link_to "View", editor_path(d.id), :class => 'btn btn-info' %>
			</div>
		</div>
		<br>
	<% end %>
</div>

	<!-- <div>
		<form action="#">
			<input type="text"  />
			<textarea style="resize:none;" name="textedit">

			</textarea>

		</form>
	</div> -->
