<h1 class="jumbotron w-100" align="center">
	All Documents
</h1>
<div class="container">
	<% @documents.each do |d| %>
		<div class="card bg-dark text-white">
			<div class="card-body">
				<h3>
					<%= d.title %>
				</h3>
				<h6>
					<%= d.body %>
				</h6>
				<!-- grey or blue I can't decide: grey:secondary blue:Info-->
				<%= link_to "View", editor_path(d.id), :class => 'btn btn-info' %>
			</div>
		</div>
		<br>
	<% end %>
	<%# I don't know it this is useful but I found it and it's here if needed %>
	<label class="file">
  	<input type="file" id="file" class="file-input btn-secondary">
  	<span class="file-control"></span>
	</label>
</div>

	<!-- <div>
		<form action="#">
			<input type="text"  />
			<textarea style="resize:none;" name="textedit">

			</textarea>

		</form>
	</div> -->
