<h1>All Documents</h1>
<% @documents.each do |d| %>
	<h3>
		<%= d.title %>
	</h3>
	<h6>
		<%= d.body %>
	</h6>
<% end %>


	<!-- <div>
		<form action="#">
			<input type="text"  />
			<textarea style="resize:none;" name="textedit">

			</textarea>

		</form>
	</div> -->
