<div class="header" align="center">
  <h2 class="bg-danger pt-2 pb-2">Information</h2>
</div>
<div class="container">
  <div class="card bg-dark text-white">
      <div class="card-body">
        <h5>About Corundum</h5>
        Corundum is a Ruby/Rails based text editor that allows you to work on documents in a variety of languages (HTML, JavaScript, Haml, Ruby, XML) and save them with markdown automatically applied.<br>
        This editor also allows you to upload and edit text files, all saved to your computer on its own local server.<br>
        We use <a href=https://codemirror.net/>CodeMirror</a> as an inspiration for our editor.
        <h5>Shortcuts</h5>
        <a href=https://defkey.com/codemirror-shortcuts>Defkey.com List of Shortcuts</a>
      </div>
  </div>
</div>
