<div class="header" align="center">
  <h2 class="bg-danger pt-2 pb-2">Information</h2>
</div>
<div class="container">
  <div class="card bg-dark text-white">
      <div class="card-body">
        <h5>About Corundum</h5>
        Corundum is a Ruby/Ruby on Rails/Javascript based text editor that allows you to work on HTML documents and save them with markdown automatically applied.<br>
        This editor also allows you to upload and edit .htm/.html files, all saved to your own local server.<br>
		In the future, we hope to add a database for online storage and on-the-go editing.
        <h5>Shortcuts</h5>
        <a href=https://defkey.com/codemirror-shortcuts>Defkey.com List of Shortcuts</a>
      </div>
  </div>
</div>
