<h2 class="jumbotron mb-0" align="center">
  <%= @document.title %>
</h2>
<div class="container-fluid display-3 bg-dark text-white pt-3 pb-3">

  <h5 class="container">
    <%= @document.body %>
  </h5>
  <%= link_to "Edit", edit_editor_path(@document.id), :class => 'btn btn-info' %>
  <%= link_to "Delete", editor_path(@document), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
</div>
