// Place all the styles related to the Editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-danger {
	background-color: #9b111e !important;
}

.header h2.bg-danger{
	background: linear-gradient(to top, #9b111e, #343a40)
}

h2 {
	color: darkgrey !important;
}

body {
	background: linear-gradient(to bottom, #D8D8D8, #D8D8D8 50%, #ffffff);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
	transition: 0.1s;
	color: #BABABA;
}

a:hover{
	color: #D7111E;
	text-decoration: none;
}